@import url("https://fonts.googleapis.com/css2?family=Madimi+One&display=swap");
* {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: "Madimi One", sans-serif;
  font-weight: 400;
  font-style: normal;
  --rojo: #e3350d;
  --amarillo: #fbff00ea;
  --azul: #356abc;
}

body {
  background-color: bisque;
}
#inputId {
  width: 20%;
}
#btnBuscar {
  background-color: var(--azul);
  color: var(--amarillo);
  border: 2px solid black;
}
/* Estilos del Card que inserta el input */
#card-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 3rem;
}
#inputCard,
#statsCard {
  color: var(--amarillo);
  background-color: var(--rojo);
  border: 4px solid var(--azul);
  border-radius: 5%;
  width: 18rem;
  height: auto;
  text-align: center;
  margin: 2rem;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: var(--azul);
}
#statsCard {
  display: flex;
  width: 20rem;
  height: 25rem;
  flex-direction: column;
  justify-content: center;
}
#imgInput {
  height: auto;
  width: 15;
}
#pokeIDInput {
  text-align: start;
  color: var(--amarillo);
  margin: 1rem 0 0 1rem;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: var(--azul);
}
#inputTipo {
  font-size: 1.5rem;
  text-align: start;
  margin: 0 0 0 1rem;
  display: flex;
}
#tipoText {
  background-color: var(--azul);
  border-radius: 15px;
  text-align: center;
  margin: 0 0.5rem;
  padding: 0.3rem;
}
/* Estilos allCard-section */
#allTitulo {
  color: var(--amarillo);
  font-size: 4rem;
  font-weight: bold;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: var(--azul);
}
#pokeCard {
  color: var(--amarillo);
  font-size: 2rem;
  background-color: var(--rojo);
  border: 4px solid var(--azul);
  border-radius: 5%;
  margin: 4rem;
  width: 18rem;
  height: 20rem;
  text-align: center;
  -webkit-text-stroke-width: 1.5px;
  -webkit-text-stroke-color: var(--azul);
}
#imgAllCard {
  max-height: 10rem;
}
#pokeIdAll {
  font-size: 1rem;
  text-align: start;
  color: var(--amarillo);
  margin: 0 0.5rem;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: var(--azul);
}
#tipoAll {
  font-size: 1.5rem;
  text-align: start;
  margin: 0 0.5rem;
  display: flex;
}
#tipoAllText {
  background-color: var(--azul);
  border-radius: 15px;
  text-align: center;
  margin: 0 0.5rem;
  padding: 0.3rem;
}
/* Media Query para Responsividad */
@media (min-width: 769px) {
  #card-section {
    display: flex;
    flex-direction: row;
  }
}
